---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";


// Generate a new path for every collection entry
export async function getStaticPaths() {
  const publishedTeamMembers = await getCollection("team", ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  });
  
  return publishedTeamMembers.map((entry) => ({
    params: { member: entry.data.name },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { member } = Astro.params;
---

<Layout title="">
    <Container>
      <div class="flex flex-col md:flex-row md:space-x-8">
        <div class="md:w-1/3">
          The name is {member}! The title is {entry.data.title}!
        </div>
      </div>
  </Container>
</Layout>