---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---
<Layout title="404 Not Found">
  <Container>
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <img src="/404.png" alt="404 Not Found" class="mx-auto mb-8 w-full max-w-2xl" />
        <h1 class="text-5xl lg:text-6xl font-bold lg:tracking-tight text-red-600">404</h1>
        <p class="text-lg mt-4 text-slate-600">Oops! The page you are looking for does not exist.</p>
        <div class="text-center mt-10">
          <a
            href="/research"
            class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition text-gray-700"
            >← Back to Home</a
          >
        </div>
      </div>
    </div>
  </Container>
</Layout>
