---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Hit us up if you love neutrinos.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact EP-NU</h2>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>1, Esplanade des Particules, 1211 Meyrin</span>
          </div>
          
        </div>
        <div class="w-full mt-8 border-2 rounded-md mr-10">
          <span>
          <iframe src="https://snazzymaps.com/embed/514409"/ width="100%" height="250px"/>
          </span>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
      
    </div>
    


  </Container>
</Layout>
