---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import dune_other from "/src/assets/dune_other_person.jpg";
import dune_person from "/src/assets/protodune_person.jpg";
import t2k_first from "/src/assets/t2k_1.jpg";
import t2k_second from "/src/assets/t2k_2.jpg";
---

<Layout title="Our Experiments">
  <Container>
    <!-- <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Neutrinos Not Found</h1>
        <p class="text-lg mt-4 text-slate-600">For now.</p>
      </div>
    </div> -->

    <section class="bg-white dark:bg-gray-900">
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
          <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">DUNE</h2>
              <p class="mb-4">The Deep Underground Neutrino Experiment (DUNE) is a next-generation neutrino oscillation experiment. </p>
              <p>
                The near detector of the experiment will be situated in Fermilab, near Chicago, USA, 
                with the neutrinos travelling over 1300km until they reach the far detector in the Sanford Underground Research Facility,
                in Lead, South Dakota. 

                The experiment will be able to measure the properties of neutrinos with unprecedented precision.
              </p>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-8">
            <Picture
                  src={dune_person}
                  alt="a person standing inside the protodune detector"
                  widths={[400]}
                  sizes="(max-width: 800px) 100vw, 400px"
                  aspectRatio="1:1"
                  background="#ffffff"
                  fit="cover"
                  class="w-full h-80 rounded-lg object-cover object-center"
                />
            <Picture
                  src={dune_other}
                  alt="a person standing inside the protodune cryostat"
                  widths={[400]}
                  sizes="(max-width: 800px) 100vw, 400px"
                  aspectRatio="1:1"
                  background="#ffffff"
                  fit="cover"
                  class="mt-20 w-full h-80 lg:mt-10 rounded-lg object-cover object-center"
              ></Picture>
          </div>
      
      </div>
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        
        <div class="grid grid-cols-2 gap-4 mt-8">
          <Picture
                src={t2k_first}
                alt="a boat floating inside the t2k detector"
                widths={[400]}
                sizes="(max-width: 800px) 100vw, 400px"
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                class="w-full h-80 rounded-lg object-cover object-center"
              />
          <Picture
                src={t2k_second}
                alt="people standing inside the t2k detector"
                widths={[400]}
                sizes="(max-width: 800px) 100vw, 400px"
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                class="mt-20 w-full h-80 lg:mt-10 rounded-lg object-cover object-center"
            ></Picture>
        </div>
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">T2K</h2>
          <p class="mb-4">The Tokai-to-Kamioka (T2K) experiment is a long baseline neutrino oscillation experiment. </p>
              <p>
                A beam of muon neutrinos (or anti-neutrinos) is created at the Japan Proton Accelerator Research Complex in Tokai.
                Beam properties are measured at a Near Detector complex, before the neutrinos travel 300 km towards the East of Japan. 
                While travelling, most neutrinos change their flavour, and are then measured again at the Far Detector, 
                located underneath Mount Ikeno near Kamioka.
              </p>
      </div>
    
    </div>
  </section>
  </Container>
</Layout>