---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Neutrinos Not Found">
  <Container>
    <!-- <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Neutrinos Not Found</h1>
        <p class="text-lg mt-4 text-slate-600">For now.</p>
      </div>
    </div> -->

    <section class="bg-white dark:bg-gray-900">
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
          <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">DUNE</h2>
              <p class="mb-4">The Tokai-to-Kamioka (T2K) experiment is a long baseline neutrino oscillation experiment. </p>
              <p>
                A beam of muon neutrinos (or anti-neutrinos) is created at the Japan Proton Accelerator Research Complex in Tokai.
                Beam properties are measured at a Near Detector complex, before the neutrinos travel 300 km towards the East of Japan. 
                While travelling, most neutrinos change their flavour, and are then measured again at the Far Detector, 
                located underneath Mount Ikeno near Kamioka.
              </p>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full h-80 rounded-lg object-cover object-center" src="protodune_person.avif" alt="office content 1">
              <img class="mt-20 w-full h-80 lg:mt-10 rounded-lg object-cover object-center" src="dune_other_person.jpg" alt="office content 2">
          </div>
      
      </div>
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">T2K</h2>
          <p class="mb-4">The Tokai-to-Kamioka (T2K) experiment is a long baseline neutrino oscillation experiment. </p>
              <p>
                A beam of muon neutrinos (or anti-neutrinos) is created at the Japan Proton Accelerator Research Complex in Tokai.
                Beam properties are measured at a Near Detector complex, before the neutrinos travel 300 km towards the East of Japan. 
                While travelling, most neutrinos change their flavour, and are then measured again at the Far Detector, 
                located underneath Mount Ikeno near Kamioka.
              </p>
      </div>
    
    </div>
  </section>
  </Container>
</Layout>