---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import Slink from "@components/ui/slink.astro";

const features = [
  {
    title: "Neutrino Oscillations",
    description:
      "Neutrinos oscillate between three flavors: electron, muon, and tau. We study this phenomenon to understand the nature of neutrinos.",
    icon: "mdi:sine-wave",
  },
  {
    title: "Machine Learned Reconstruction",
    description:
      "We use machine learning to reconstruct neutrino interactions in liquid argon time projection chambers.",
    icon: "akar-icons:network",
  },
  {
    title: "Neutrino interactions with matter",
    description:
      "We study the ways in which neutrinos interact with the matter around us as an essential part of interpreting data from neutrino oscillation experiments.",
    icon: "ant-design:question-outlined",
  },
  {
    title: "Supernova Neutrinos",
    description:
      "We study the neutrinos emitted from supernovae to understand the explosion mechanism and the formation of neutron stars.",
    icon: "mdi:star-shooting-outline",
  },
  {
    title: "Neutrino Theory",
    description:
      "We use theorethical insights to advance our understanding of neutrinos, how they interact and what determines their fundamental properties.",
    icon: "mdi:chart-bell-curve",
  },
  {
    title: "Outreach",
    description:
      "We are passionate about outreach and education. We organize visits to the Neutrino Platform at CERN and more...",
    icon: "mdi:brain",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Figuring out neutrinos: Smaller than an atom, bigger than a dream.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our research interests include...
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
