---
import cernLogo from '../assets/cern-logo.png'
import { Picture } from "@astrojs/image/components";
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} CERN. All rights reserved.
  </p>

  {/* <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p> */}
  
  <div class="flex gap-8 md:gap-20 items-center justify-center flex-wrap">
  <a href="https://home.cern" target="_blank" rel="noopener noreferrer">
    <Picture
      src={cernLogo}
      alt="CERN logo"
      class="block mt-5 w-full"
      aspectRatio="1:1"
      sizes="60px"
      widths={[200, 400]}
    />
  </a>
  </div>


</footer>
