---
import { Picture } from "@astrojs/image/components";
import groupLogo from "/src/assets/cenf-logo.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Slink from "@components/ui/slink.astro";

// import headerImage from "/src/assets/protodune-group.jpg";
// import spacemunk from "/src/assets/spacemunk.png";
// import einstein from "/src/assets/einstein.png";
// import chessmunk from "/src/assets/chessmunk.png";f

import Chip from "@components/carousel.jsx";
import Toggle from "@components/themetoggle.jsx";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">

  <!-- Stupid Carousel that took me days to implement -->
  <Chip client:only="react"/>

  <div>
    <div class="flex justify-center">
      <Picture
        src={groupLogo}
        alt="groupLogo"
        widths={[200, 400, 600, 1200, 2400]}
        aspectRatio="1:1"
        sizes="(max-width: 300px) 100vw, 100px"
        loading="eager"
        class="mb-4"
      />
    </div>

    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-center pr-4">
      CERN Neutrino Group
    </h1>

    <p class="text-lg mt-4 text-slate-600 max-w-xl pr-4">
      We are a <Slink style=inline href=team>diverse group of physicists</Slink> working and collaborating in different current and next-generation experiments, like T2K or DUNE, to understand the nature of neutrinos. Read below to learn more about our research.
    </p>

    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="research"
        class="flex gap-1 items-center justify-center">
        <Icon name="mdi:book-outline" class="h-6"/>
        Research topics
      </Link>

      <Link
        size="lg"
        style="primary"
        rel="noopener"
        href="research"
        class="flex gap-1 items-center justify-center">
        <Icon name="bx:bxs-rocket" class="h-6"/>
        Learn about neutrinos!
      </Link>
    </div>
  </div>

</main>

